body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans';
	background-color: #d8d8d8;
}

.sidebar {
	width: 300px;
	height: 100vh;
	background-color: #000;
	margin-top: 0;
	float: left;
}

.profile {
	background-color: #171717;
	width: 85%;
	height: 50px;
	margin: auto;
	padding: 10px;
	margin-top: 20px;
}

.pro-pic {
	width: 50px;
	border-radius: 100px;
	float: left;
	margin-right: 20px;
}

.pro-info p {
	color: #fff;
	font-size: 16px;
	margin: 0;
}

.pro-info a {
	color: #00ffa7;
	font-size: 12px;
	margin: 0;
	text-decoration: none;
}

.menu,
.journal,
.footer {
	margin-top: 0;
	width: 85%;
	margin: auto;
	margin-bottom: 80px;
}

.menu-label {
	color: #707070;
	letter-spacing: 0.1em;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}

.journal-label {
	color: #707070;
	letter-spacing: 0.1em;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-top: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.journal-container {
	background-color: pink;
	width: 70vw;
	margin-left: 350px;
	padding-top: 60px;
}

.journal-module {
	width: 450px;
	height: 80vh;
	background-color: #fff;
	border-radius: 15px;
	padding: 20px;
	float: left;
}

.journal-entry {
	width: 90%;
	height: 90%;
	resize: none;
	margin: auto;
}

.title {
	font-family: 'Open Sans';
	border: none;
	font-size: 36px;
	border-bottom-width: 1px;
	border-bottom-color: #d8d8d8;
	border-bottom-style: solid;
}

.journal-entry {
	margin-top: 15px;
	font-family: 'Open Sans';
	border: none;
	font-size: 14px;
	line-height: 1.5em;
}

.title:focus {
	outline: none;
}

.journal-entry:focus {
	outline: none;
}

::placeholder {
	color: #d8d8d8;
}

.add {
	color: #00ffa7;
}
